@import
    "base",
    "layout",
    "syntax-highlighting",
    "bootstrap";

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-content {
    width: 100%;
    max-width: 100rem;
}